*,html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  /* Properti box-sizing mendefinisikan bagaimana lebar dan tinggi elemen dihitung */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(51, 50, 50);
}
                                        /* Header */

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
    gap: 10px;
}
.Logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: auto;
    background: transparent;
}
.title-Logo{
    font-family: 'Nosifer';
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(36, 13, 13);
}
.title-Logo:hover{
    background-color: rgb(36, 13, 13);
    color: rgb(190, 110, 4);
    transition: all.5s ease 0s;
}

.img-Logo{
    width: 90px;
    height: 80px;
    margin-left: 10px;
    background: transparent;
    transition: transform 0.7s ease-in-out;
}
.img-Logo:hover{
    transform: rotate(360deg);
}
nav ul {
    display: flex;
    padding: 25px;
    margin: 0px;
    background-color: rgb(36, 13, 13);  
}
li{
    list-style-type:none;
    padding: 8px;
    background-color: rgb(36, 13, 13);
}
li a{
    transition: all.5s ease 0s;
    display: inline-block;
}
li a:hover{
    color: rgb(190, 110, 4);
}
a{
    background-color: rgb(36, 13, 13);
    color: rgb(138, 138, 138);
    text-decoration: none; 
}

.btn-follow{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 6px 12px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: rgb(138, 138, 138);
    background-color: rgb(82, 3, 3);
}
.btn-follow:hover{
    color:  rgb(48, 47, 47);
    background-color: rgb(190, 110, 4);
    transition: all.5s ease 0s;
}
                                        /* End Header */

                                        /* Carousel */  
  .carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background: transparent;
  }
  
  .carousel-slide {
    display: none;
    width: 100%;
    animation: fade 3s infinite;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100vh;
  }
  
  @keyframes fade {
    0%, 100% { opacity: 1; }
    25%, 75% { opacity: 2; }
  }
  
  .carousel-slide.active {
    display: block;
    animation: none;
  }
  
  .carousel-control {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: rgba(24, 24, 24, 0.685);
    padding: 10px;
  }
  #aroow-right{
    background: transparent;
  }
  #aroow-left{
    background: transparent;
  }
  
  #prev {
    left: 10px;
  }
  
  #next {
    right: 10px;
  }

  .carousel-caption {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 1;
    text-align: center;
    transition: opacity 0.5s;
    background: transparent;
    color: rgb(252, 10, 10);
  }
  
  .carousel-caption h2 {
    font-size: 24px;
    margin: 0;
    background: transparent;
  }
  
  .carousel-caption p {
    font-size: 16px;
    margin: 0;
    background: transparent;
  }
  
                                        /* End Carousel */

                                        /* Paralax */
.container{
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}
.paralax{
    background-image: url('Asset/Foto/Maps.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    min-height: 130vh;
}
.tentang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
    background-color: rgb(36, 13, 13);
}
.mt-10{
    margin-top: 20px;
    background-color: rgb(36, 13, 13);
}
.title-tentang{
    font-size: 20px;
    font-weight: bold;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
.description-tentang{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 5px;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
                                         /* End Paralax */

                                         /* Card  */
.card{
   gap: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   background: transparent;
}
.card-item{
    width: 20%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background: rgba(51, 50, 50, 0.911);
    box-shadow: 6px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.Icon-card{
    background: transparent;
    width: 100px;
    height: 90px;
    margin: 10px;
    padding: 4px;
}
.title-card-item{
    font-weight: bold;
    color: rgb(190, 110, 4);
    background-color:transparent;
}
.description-card-item{
    margin-top: 5px;
    color: rgb(190, 110, 4);
    background-color:transparent;
    
}
                                        /* End Card */

                                        /* Footer */
footer{ 
    padding: 18px;
    text-align: center;
    background-color: rgb(36, 13, 13);
}
.title-footer{
    font-size: 24px;
    font-weight: bold;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
                                        /* End footer */

                                        /* Start Fake Bot */

.FakeBot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding: 20px;
    background-color: rgb(36, 13, 13);
}
.title-FakeBot{
    font-size: 20px;
    font-weight: bold;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
.description-FakeBot{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
.container-fakeBot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.warpper-fakeBot{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(36, 13, 13);
}
#pertanyaan{
    font-size: 24px;
    font-weight: lighter;
    color: rgb(138, 138, 138);
    background-color: rgb(36, 13, 13);
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 12px;
    background-color: rgb(36, 13, 13);
}
.btn-fake{
    cursor: pointer;
    border: none;
    padding: 13px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    color: rgb(138, 138, 138);
    background-color: rgb(82, 3, 3);
}

.btn-fake:hover{
    color:  rgb(48, 47, 47);
    background-color: rgb(190, 110, 4);
    transition: all.5s ease 0s;
}
input{
    border: none;
    background-color: bisque;
    color: black;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 5px;
}
                                        /* End Fake Bot */

    @media screen and (min-width: 300px) and (max-width: 700px) {

    header{
        display: flex;
        flex-direction: row;
    }
    .card{
        flex-direction: column;
    }
    .card-item{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .container{
        padding: 0;
    }
    .btn-follow{
        margin-bottom: 0;
    }
    
    .carousel{
        width: 100%;
        height: 80vh;
    }
    .paralax{
        height: 100%;
    }
    .Icon-card{
        background: transparent;
        width: 30%;
        height: 30%;
    }
    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgb(36, 13, 13);
        z-index: 9;
    }

    footer{
        margin-bottom: 80px;
    }
}